<html>
<head>
<link rel="stylesheet" href="css/signup.css">

</head>

<body bgcolor="#bb0a1e">
<div class="Signup">
	<form method="post" action="/signup">
		<h style="color:white" >  Sign up </h><br>
		<i class="fa fa-user" aria-hidden="true"></i>
		<input type="text" name="fname" placeholder="First Name" ><br></h>
		<i class="fa fa-user" aria-hidden="true"></i>
		<input type="text"  name="lname" placeholder="Last Name" ><br>
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<input type="text"  name="email" placeholder="Enter Email" ><br>
		<i class="fa fa-lock" aria-hidden="true"></i>
		<input type="password"  name="password" placeholder="Password" ><br>
		<i class="fa fa-lock" aria-hidden="true"></i>
		<input type="password"  name="cnfpassword" placeholder="Confirm Password"><br>
		<i class="fa fa-phone" aria-hidden="true"></i>
		<input type="text"  name = "no" placeholder="phone number" ><br>
		<br><input type="submit" value="Sign up">
	</form>
</div>
</body>

</html>
